.idea
**/*.bin
**/*.signatures
**/*.opcode
**/bin/*
!**/bin/.gitkeep
**/target/
**/build
node_modules/
foundry-cache
out/
testing/*.csv
package-lock.json

vendor/solidity-BigNumber/cache/
artifacts
cache
 yarn.lock